body
{
  padding: 0;
  margin: 0;
  font-family: Tahoma;
  font-size: 18px;
  color: #f3f4f5;
  overflow: hidden;
  background: #2f343f;
  width: 100%;
  height: 100%;
}

h1
{
  font-weight: normal;
  letter-spacing: 5px;
  font-size: 35px;
}

h2
{
  font-weight: normal;
  letter-spacing: 5px;
  font-size: 35px;
}

p a
{
  font-weight: bold;
  color: #f3f4f5;
}

p a:hover
{
  text-shadow: 0px 0px 10px #f7a615;
}

.main-section
{
  position: relative;
  width: 100%;
}

.portrait-section {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  animation: portrait;
  animation-duration: 1s;
}

.portrait {
  width: 100%;
}

.data {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  animation: info;
  animation-duration: 2s;
}

.tabs-section
{
  padding: 0;
}

.tabs {
  position: relative;
  width: 100%;
}

.tabs ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
  position: absolute;
  top: 0;
}

.tabs li {
  float: left;
  display: block;
}

.tabs label {
  display: block;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tabs label:hover {
  color: #8196ac;
}

.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}

.tabs .tab-content{
  display: none;
  background: #8196ac;
  padding: 20px;
  position: absolute;
  left: 0;
  opacity: 30%;
}

.tabs [id^="tab"]:checked + label {
  background: #8196ac;
  animation-name: tabshow;
  animation-duration: 1s;
  transform: matrix(1, 0, 0, 1, 0, 15);
  opacity: 30%;
}

.tabs [id^="tab"]:checked + label:hover {
  color: #f3f4f5;
}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
  from{transform: matrix(1, 0, 0, 1, 0, -15);}
  to{transform: matrix(1, 0, 0, 1, 0, 0);}
}

@keyframes tabshow {
  from{transform: matrix(1, 0, 0, 1, 0, 0);}
  to{transform: matrix(1, 0, 0, 1, 0, 15);}
}

@keyframes portrait {
  from{opacity:0; transform: matrix(1, 0, 0, 1, -1000, 0);}
  to{opacity: 100; transform: matrix(1, 0, 0, 1, 0, 0);}
}

@keyframes info {
  from{opacity: 0;}
  to{opacity: 100;}
}

@media only screen and (max-device-width: 1025px) {
  .portrait-section {
    display: none;
  }
  .data {
    position: absolute;
    left: 0;
    width: 100%;
  }
}
