body
{
  padding: 0;
  margin: 0;
  font-family: Tahoma;
  font-size: 18px;
  color: #f3f4f5;
  overflow: hidden;
  background: #2f343f;
}

h1
{
  font-weight: normal;
  letter-spacing: 5px;
  font-size: 35px;
}

h2
{
  font-weight: normal;
  letter-spacing: 5px;
  font-size: 35px;
}

p a
{
  text-decoration: none;
  font-weight: bold;
}

p a:hover
{
  color: #f7a615;
}

.intro-section
{
  padding: 0px;
  margin: 0px;
  position: relative;
}

.portrait {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 50%;
}

.tabs-section
{
  display: inline-block;
  padding: 0px;
  position: absolute;
  right: 0;
  width: 50%;
}

.tabs {
  padding: 0px;
}

.tabs ul {
  padding: 0px;
  margin: 0px;
}

.tabs li {
  float: left;
  display: block;
}

.tabs label {
  display: block;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tabs input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}

.tabs .tab-content{
  display: none;
}

.tabs [id^="tab"]:checked + label {
    border-bottom-style: solid;
    border-bottom: 1px;
    border-bottom-color: white;

}

.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
  background: #2f343f;
}
