{% extends 'base.html' %}
{% block body %}
<div class="about-section">
  <p class="about-p" id="about1">I am a student at Virginia Tech, majoring in Computer Science with a minor in Math.</p>
  <p class="about-p" id="about2">I am also working at Rackspace on the email anti-abuse team.</p>
  <p class="about-p" id="about3">Currently my stack is python, nginx, uwsgi, ansible, and docker and vagrant for testing.</p>
  <img src="/static/pictures/me.jpg" class="portrait"/>
  <p>Aidan Barton</p>
</div>
{% endblock %}
