<!DOCTYPE html>
<html>
  <head>
    <title>Aidan Barton</title>
    <link type="text/css" rel="stylesheet" href="/static/main.css"/>
    <link type="img/png" rel="icon" href="/static/pictures/favicon.png"/>
  </head>
  <body>
    <div class="main-wrapper">
      <nav>
        <ul>
          <li class="exper"><a href="{{ nav_hrefs['exper'] }}">experience</a></li>
          <li class="about"><a href="{{ nav_hrefs['about'] }}">about</a></li>
        </ul>
      </nav>
      {% block body %}
      {% endblock %}
      <div class="footer">
        <ul>
          <li>
            <p>Contact me:</p>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/aidan-barton-b21b89105/">LinkedIn</a>
          </li>
          <li>
            <a href="mailto:tonaid@vt.edu">Email</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
