{% extends 'base.html' %}
{% block body %}
<div class="intro">
  <p class="intro-p" id="intro1">hardcore backend <a class="highlight" href="#rs">developer</a></em></p>
  <p class="intro-p" id="intro2"><a class="highlight" href="#rs">virginia tech</a> class of 2018</p>
  <p class="intro-p" id="intro3">major in <a class="highlight" href="#rs">computer science</a></p>
  <p class="intro-p" id="intro4">working at <a class="highlight" href="#rs">rackspace</a></p>
</div>
<div class="experience fadein">
  <ul>
    <li id="rs">
      <a href="/exper/rs">Rackspace</a>
    </li>
    <li id="vt">
      <a href="/exper/vt">VT</a>
    </li>
    <li id="hu">
      <a href="/exper/hu">Hume Center</a>
    </li>
  </ul>
</div>
{% endblock %}
