{% extends 'base.html' %}
{% block body %}
<div class="intro">
  <p class="intro-p" id="intro1">hardcore backend <span class="highlight">developer</span></em></p>
  <p class="intro-p" id="intro2"><span class="highlight">virginia tech</span> class of 2018</p>
  <p class="intro-p" id="intro3">major in <span class="highlight">computer science</span></p>
  <p class="intro-p" id="intro4">working at <span class="highlight">rackspace</span></p>
</div>
<div class="experience fadein">
  <ul>
    <li>
      <a href="/exper/rs">Rackspace</a>
    </li>
    <li>
      <a href="/exper/vt">VT</a>
    </li>
    <li>
      <a href="/exper/hu">Hume Center</a>
    </li>
  </ul>
</div>
{% endblock %}
