{% extends 'base.html' %}
{% block body %}
<div class="intro">
  <p class="intro-p" id="intro1">hardcore backend <span class="intro-highlight">developer</span></em></p>
  <p class="intro-p" id="intro2"><span class="intro-highlight">virginia tech</span> 2018</p>
  <p class="intro-p" id="intro3">major in <span class="intro-highlight">computer science</span></p>
  <p class="intro-p" id="intro4">working at <span class="intro-highlight">rackspace</span></p>
</div>
<div class="experience">
  <ul>
    <li>
      <a href="/exper/vt">VT</a>
    </li>
    <li>
      <a href="/exper/hu">Hume Center</a>
    </li>
    <li>
      <a href="/exper/rs">Rackspace</a>
    </li>
  </ul>
</div>
{% endblock %}
