{% extends 'base.html' %}
{% block body %}
<div class="exper-main">
  <img src="/static/pictures/rs.png" class="exper-intro-pic"/>
  <p id="p1">
    During the summer of 2017 I was an intern at Rackspace. As an intern I was put
    on a team with other interns and we were given free reign to build
    Rackspace a new
    <a class="highlight" target="_blank" href="https://postmaster.apps.rackspace.com/home">Postmaster</a>
    site. I also worked on the Anti-abuse team, I created Ansible playbooks to
    provision thier servers.
  </p>
  <p id="p2">
    After the intership was finished they asked me to stick
    around for a Co-op during the Fall 2017 semester, which I accepted. I am now
    working on the anti-abuse team full time during the co-op. The team is
    responsible for detecting and stopping bad
    guys from abusing the Rackspace email system (spamming, phishing, etc).
  </p>
  <p id="p1">
    While at Rackspace I have become familiar with
    <a class="highlight" target="_blank" href="https://www.docker.com/">Docker</a>,
    <a class="highlight" target="_blank" href="https://www.ansible.com/">Ansible</a>,
    <a class="highlight" target="_blank" href="https://www.vagrantup.com/">Vagrant</a>,
    <a class="highlight" target="_blank" href="https://uwsgi-docs.readthedocs.io/en/latest/">uWSGI</a>,
    <a class="highlight" target="_blank" href="https://www.nginx.com/resources/wiki/">nginx</a>
    and
    <a class="highlight" target="_blank" href="http://flask.pocoo.org/">Flask</a>.
    I expect to learn even more during my co-op.
  </p>
</div>
{% endblock %}
