{% extends 'base.html' %}
{% block body %}
<div class="exper-main">
  <img src="/static/pictures/vt.png" class="exper-intro-pic"/>
  <p id="p1">
    Expected graduation in spring <span class="highlight">2018</span>.
    I currently have  a cumulative GPA of 3.4 and an in major GPA of <span class="highlight">3.6</span>.
  </p>

  <p id="p2">
    I am majoring in computer science with a minor in math. I am focusing on the
    <span class="highlight">systems and networking</span> track of computer science.
  </p>
</div>
{% endblock %}
